# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

#source /etc/network/interfaces.d/*

auto lo
iface lo inet loopback

auto ens3
iface ens3 inet dhcp
iface ens3 inet6 auto

auto ens7
iface ens7 inet static
	address {{ specified_ip }}
	netmask 255.255.0.0
	mtu 1450
